.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
*.vsix
.gitignore
node_modules/**
tsconfig.json
vsc-extension-quickstart.md
tslint.json
tsup.config.ts
dist
pnpm-lock.yaml
scripts/**
syntaxes/solidity.bak
